body{
    font: 20px;
}

.navbar {
    background: #5fb404
}

.quem-somos{
    background-color: blue;
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: greenyellow;
}

.servicos{

}

.bg-footer{
    background-color: black;
    color: white;
}

.vermelho{
    color: white;
}

#teste{
    background-color: white;
    color: white;
}